@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
:root {
    --bg-color-1: rgb(37, 37, 37); 
    --bg-color-1-lower: rgba(20, 20, 20, 0.87);
    --bg-color-2: rgb(42, 136, 42); 
    --bg-color-2-lower: rgba(42, 136, 42, 0.829); 
    --bg-color-3: black;
    --txt-color-1: white;
    --txt-color-2: black; 
    --txt-color-3: rgb(199, 194, 194); 
    --color-1: green;
    --color-2: lightblue; 
    --color-3: rgb(190, 143, 13); 
    --color-4: pink; 
    --color-5: rgb(180, 11, 180); 
}

a {
    color: var(--color-4);
}
a:visited {
    color: var(--color-5)
}

hr.style-one {
    border:0;
    height:0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px, solid rgba(255, 255, 255, 0.3);
}

hr.style-two {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    }
hr.style-two:after {
content: "limesoda314";
display: inline-block;
position: relative;
top: -0.7em;
font-size: 1.5em;
padding: 0 0.25em;
background: white;
}

hr.style-three {
    padding: 0; 
    border: none; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    color: #333; 
    text-align: center;
}

hr.style-three:after {
    content:" ";
    display: inline-block;
    position: relative;
    top: -2.1em;
    font-size: 1.5em;
    padding: 19px 1.75em;
    background: url(../images/lime.png) no-repeat scroll center;
    background-size: 40px 40px;
    height: 60px;
    }


div.type-one {
    height: 75px;
    background: url(../images/lime.png) space scroll left; 
    background-size: 40px;   
    text-align: justify; 
}


/* Should look a bit like peppermint 

hr.style-four {
    border-bottom: 2px dashed red; 
    background: white;
    
}
*/

/*---------------START OF NAVBAR----------------------------*/
#navbar {
    overflow: hidden; /*prevents scroll bars from appearing even when necessary*/
    background-color: var(--bg-color-3); 
    border-top: solid;
    border-color: var(--color-4);
    z-index: 100;
}

#navbar a {
    float: left; 
    display: block; 
    color: var(--color-4);
    text-align: center;
    padding: 14px;
    text-decoration: none; /* gets rid of the underline in the links*/
}
#navbar a:hover {
    color: var(--color-5);
}

/* use JS to add this class onto the navbar when it reaches scroll position*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%; 
}

.sticky + .content {
    padding-top: 60px; 
}

/*-----------------END OF NAVBAR-------------------------*/

.hero {
    color: var(--txt-color-3);
    background: linear-gradient(to bottom right, var(--bg-color-2-lower), var(--color-3));
    width: 100%;
    overflow: hidden; 
}

.hero-one {
    background: linear-gradient(to bottom right, rgb(65, 172, 65), rgb(59, 59, 245));
}

.hero-two {
    background: linear-gradient(to bottom right, rgb(151, 150, 150), rgb(0, 2, 80));
}

body {
    color: var(--txt-color-1);
    background: var(--bg-color-1);
    font-family: 'Space Mono', monospace;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    display: grid; 
    grid-template-columns: 2fr 1fr; 
    column-gap: 10px;
    padding: 10%; 
    padding-top: 50px; 
    background-image: url("../images/two-limes.png");
    background-repeat: repeat;
}

article {
    grid-template-columns: 1fr; 
    display: grid;
    row-gap: 10px; 
    background: var(--bg-color-1-lower); 
}

.content {
    padding: 1em; 
    border: dashed; 
    color: white; 
    z-index: 1; 
}

aside {
    padding: 1em; 
    background: var(--bg-color-1-lower);
    border: dashed; 
    color: white; 
    height: 500px; 

}

footer {
    padding: 16px; 
    background-color: var(--bg-color-1-lower);
}

/*------------------------CONVENIENT CLASSES------------------------------------*/
.border {
    border: 1px solid;
    border-color: white; 
} 
.center {
    text-align: center;
}

.shadow {
    text-shadow: 2px 2px var(--color-3);
}


/*----------------------ANIMATIONS----------------------------------*/
.fade-in {
    animation: fadeInAnimation ease 5s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

@keyframes fadeInAnimation {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1; 
    }
}


@media only screen and (max-width: 1100px) {
    main {
        grid-template-columns: 1fr; 
        row-gap: 10px;
        
    }
    aside {
        height: auto; 
    }
}